.section-container{
    height: 350px;
    background-color: #fff;
    border: 1px solid #fff;
    margin-bottom: 80px;
 .section-content {
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 40px;

        .section-header{
            margin-left: 20px;
            margin-bottom: 50px;
            display: flex;
            position: relative;
            
            h3{
                font-weight: 550;
            }

            span{
                background-color: rgb(218 243 246 / var(--tw-bg-opacity, 1));
                color: rgb(52 146 158 / var(--tw-text-opacity, 1));
                font-size: 20px;
                border-radius: 15px;
                padding: 10px;
                position: absolute;
                right: 0;
                cursor: pointer;
                font-weight: 500;
            }
        }

        .slick-list {
            background: #fff;
        }

        .slick-slide {
            padding-left: 10px;
            padding-right: 10px;
        }
        
        .img-customize {
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid #c4bcbc;
            background-color: #fff;
            height: 250px;
            position: relative; 
            overflow: hidden;
            border-radius: 20px;
            cursor: pointer;

            img {
            width: 80%;
            height: 80%;
            object-fit: cover;
            display: block; 
            margin: 0 auto;
            margin-top: 10px !important;
            }

            h3 {
            font-size: 18px;
            font-weight: 550;
            text-align: center;
            }
        }

        .slick-prev { 
            height: 45px !important;
            width: 40px !important;
            z-index: 10;
            margin-left: 20px !important;
            background: #45c3d2 !important;
            opacity: 0.7;
            &:hover{
                opacity: 1;
            }
        }

        .slick-next {
            height: 45px !important;
            width: 40px !important;
            z-index: 10;
            margin-right: 20px !important;
            background: #45c3d2 !important;
            opacity: 0.7;
            &:hover{
                opacity: 1;
            }
        }  
    }
}

