.Footer-container{
    height: 100px;
    background-color: rgb(100 185 229 / var(--tw-bg-opacity, 1));
    .Footer-contain{
        height: 100px;
        text-align: center; 
        padding-top: 40px;
        span{
            font: 14px;
            color: rgb(255 255 255 / var(--tw-text-opacity, 1));    
            
            a{
                margin-left: 5px;
            }
        }
    }
}